.ta-icon {
    --u-icon-color: currentcolor;

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    line-height: 1;
    vertical-align: middle;
    color: var(--u-icon-color);
    fill: var(--u-icon-color);
}

.ta-icon--primary {
    --u-icon-color: var(--u-color-primary);
}

.ta-icon--info {
    --u-icon-color: var(--u-color-info);
}

.ta-icon--success {
    --u-icon-color: var(--u-color-success);
}

.ta-icon--warning {
    --u-icon-color: var(--u-color-warning);
}

.ta-icon--danger {
    --u-icon-color: var(--u-color-danger);
}