.u-vlist {
    --u-vlist-bg-color: var(--u-color-bg);
    --u-vlist-text-color: var(--u-color-text-regular);
    --u-vlist-font-size: var(--u-font-size-base);
    --u-vlist-item-padding: 0 16px;

    position: relative;
    overflow-y: auto;
    background-color: var(--u-vlist-bg-color);
    color: var(--u-vlist-text-color);
    font-size: var(--u-vlist-font-size);
}

.u-vlist__phantom {
    position: relative;
    width: 100%;
}

.u-vlist__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* 提高滚动性能 */
    will-change: transform;
}

.u-vlist__item {
    box-sizing: border-box;
    padding: var(--u-vlist-item-padding);
    overflow: hidden;
    line-height: 1.6;
}